body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    background-color: #ffffff; /* white background */
    color: #000000; /* black text color */
}

header {
    width: 100%;
    background-color: #ffffff; /* white background */
    text-align: center;
}

h1 {
    font-weight: 300; /* H2 style weight */
	font-size: 32px;
    color: #226f54; /* green color */
}

h2 {
    font-weight: 300; /* H2 style weight */
	font-size: 28px;
    color: #226f54; /* green color */
}



p {
    font-weight: 300; /* paragraph style weight */
    text-align: justify; /* justify paragraph text */
    margin: 0 auto; /* center the paragraph */
	font-size: 18px;
}

img {
	padding: 30px 0px 30px 0px;
}
	

div {
	padding: 0px;
	border: 0px;
}


  .textbox {
		max-width: 40%;
	padding: 30px 0px 30px 0px;
	}

  .RSVPbox {
		max-width: 40%;
	padding: 100px 0px 100px 0px;
	}

.headercontainerbox {
	max-width: 50%;
}

.greenbox {
	background-color: #226f54;
	padding: 50px 40px 50px 40px;
}

.greenbox_text {
	color:white;
	text-align: center;
}



.container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .box {
            width: 200px;
            height: 200px;
            margin: 10px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
        }

		.box2 {
            width: 200px;
            height: 0px;
            margin: 10px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 600px) {
            .box {
                width: calc(100% - 20px);
            }
			
				.textbox {
		max-width: 90%;
	}
			
	
	.RSVPbox {
		max-width: 90%;
		padding: 100px 0px 100px 0px;
	}
			
	.registrybox {
		max-width: 90%;
		padding: 100px 0px 100px 0px;
	}
			
			.headercontainerbox {
	max-width: 70%;
}
        }

 #emailInput {
            border: 2px solid #226f54;
            color: #226f54;
            font-family: 'Cormorant Garamond', serif;
            padding: 5px;
	 		margin: 10px 5px;
        }

        button {
            height: 30px;
            border: 2px solid #226f54;
            color: #226f54;
            background-color: transparent;
            font-family: 'Cormorant Garamond', serif;
            cursor: pointer;
            padding: 0px 10px;
			margin:10px 5px;
        }

         #result1, #result2 {
            display: none;
            margin-top: 10px;
            border: 2px solid #226f54;
            padding: 20px 50px;
            background-color: transparent;

			 }


		.resultbox_inside {
			border: 2px solid #226f54;
			
}

        .submitbutton {
            height: 30px;
            border: 2px solid #226f54;
            color: white;
            background-color: #226f54;
			text-decoration: none;
            font-family: 'Cormorant Garamond', serif;
            cursor: pointer;
            padding: 20px 30px;
			margin:10px 5px;
        }



